@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media screen and (min-width: 768px) {
  .header,
  .main-part {
    flex-direction: row;
  }

  nav {
    display: none;
  }

  .main-part aside {
    flex-basis: 40%;
  }

  .main-part div {
    flex-basis: 60%;
  }

  .photo {
    width: 200px;
  }

  code {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .header,
  .main-part {
    flex-direction: column;
    font-size: 2em;
  }

  nav {
    display: block;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0.1rem;
    flex-direction: column;
    background-color: #e5e5e5;
    width: 28%;
    border-radius: 5px;
    font-size: 1.8em;
  }

  .nav-menu.active {
    right: 0;
  }

  li:active,
  li:hover {
    background-color: #fca311;
    color: #14213d;
  }

  .hamburger {
    position: fixed;
    right: 1%;
    top: 2rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #14213d;
  }

  .photo {
    width: 300px;
    padding-top: 10px;
  }

  .project {
    margin: auto;
  }

  code {
    font-size: 0.7em;
  }

  h3 {
    text-align: center;
  }
}

html {
  font-family: Roboto, sans-serif;
  color: #14213d;
  scroll-behavior: smooth;
}

.photo {
  border-radius: 50%;
}

.content {
  margin: 0 auto;
  width: 800px;
  background-color: #ffffff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.header {
  background-color: #fca311;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: -1px;
}

a {
  color: #14213d;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

div nav {
  overflow-x: hidden;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.title-text {
  margin: auto;
}

.main-part {
  display: flex;
  padding: 10px;
}

.main-part div {
  justify-self: center;
}

.main-right {
  padding-left: 5px;
}

pre {
  margin: 0;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  padding: 5px;
}

.photo-project {
  width: 100%;
}

h4,
.project-description {
  text-align: center;
  margin: 2px 0 0 0;
}

.video {
  display: block;
  margin: 0 auto;
}

.footer {
  text-align: center;
  background-color: #e5e5e5;
  margin: -1px;
  padding: 10px 0;
}

footer img {
  width: 50px;
}

